DB_NS_USER=username
DB_NS_PASSWORD=supersecret
DB_NS_JDBC_URL=jdbc:postgresql://some_server:some_port/database

DB_CMS_USER=username
DB_CMS_PASSWORD=supersecret
DB_CMS_JDBC_URL=jdbc:db2://another_server:some_other_port/database
DB_CMS_SCHEMA=some_schema

DB_CWSRS_USER=username
DB_CWSRS_PASSWORD=supersecret
DB_CWSRS_JDBC_URL=jdbc:db2://another_server:some_other_port/database
DB_CWSRS_SCHEMA=some_schema