applicationName: CWDS API
version: ${APP_VERSION:-local}

shiro:
  iniConfigs: ["file:${SHIRO_CONFIG_PATH:-config/shiro.ini}"]
  
swagger:
  templateName: swagger.mustache
  assetsPath: /static
  resourcePackage: gov.ca.cwds.rest.resources
  title: CWDS API
  description: RESTful API definitions for the CWS New System.
  logo: images/CWDS-API-Logo-Horizontal.png  
  showSwagger: ${SHOW_SWAGGER:-true}
  jsonUrl: ${SWAGGER_JSON_URL:-http://localhost:8080/swagger.json}
  loginUrl: ${LOGIN_URL:-http://localhost:8090/authn/login}
  logoutUrl: ${LOGOUT_URL:-http://localhost:8080/perry/authn/logout}
  callbackUrl: ${SWAGGER_CALLBACK_URL:-http://localhost:8080/swagger}
  tokenUrl: ${SWAGGER_TOKEN_URL:-http://localhost:8080/perry/authn/token}

upgradeDbOnStart: ${UPGRADE_DB_ON_START:-false}

nsDataSourceFactory:
  driverClass: org.postgresql.Driver
  user: ${DB_NS_USER}
  password: ${DB_NS_PASSWORD}
  url: ${DB_NS_JDBC_URL}
  validationQuery: "/* MyService Health Check */ SELECT 1 FOR READ ONLY"
  logValidationErrors: true
  initialSize: ${DB_NS_CP_INITIAL_SIZE:-2}
  minSize: ${DB_NS_CP_MIN_SIZE:-2}
  maxSize: ${DB_NS_CP_MAX_SIZE:-8}
  minIdleTime: 1 minute
  properties:
      hibernate.dialect: gov.ca.cwds.data.persistence.hibernate.dialect.JsonPostgreSQLDialect
      hibernate.jdbc.time_zone: America/Los_Angeles
      hibernate.id.new_generator_mappings: false
      hibernate.format_sql: true
      hibernate.use_sql_comments: false
      hibernate.default_schema: ${DB_NS_SCHEMA:-intakens}
      hibernate.connection.autocommit: false
      hibernate.temp.use_jdbc_metadata_defaults: false

cmsDataSourceFactory:
  autoCommitByDefault: false
  driverClass: com.ibm.db2.jcc.DB2Driver
  user: ${DB_CMS_USER}
  password: ${DB_CMS_PASSWORD}
  url: ${DB_CMS_JDBC_URL}
  validationQuery: "/* CMS DB2 Health Check */ SELECT 1 FROM SYSIBM.SYSDUMMY1 FOR READ ONLY WITH UR"
  logValidationErrors: true
  initialSize: ${DB_CMS_CP_INITIAL_SIZE:-2}
  minSize: ${DB_CMS_CP_MIN_SIZE:-2}
  maxSize: ${DB_CMS_CP_MAX_SIZE:-8}
  minIdleTime: 1 minute
  properties:
      hibernate.dialect: org.hibernate.dialect.DB2Dialect
      hibernate.jdbc.time_zone: America/Los_Angeles
      hibernate.show_sql: false
      hibernate.format_sql: true
      hibernate.use_sql_comments: false
      hibernate.default_schema: ${DB_CMS_SCHEMA}
      hibernate.connection.autocommit: false
      hibernate.connection.isolation: 1
      hibernate.connection.provider_disables_autocommit: true

rsDataSourceFactory:
  autoCommitByDefault: false
  driverClass: com.ibm.db2.jcc.DB2Driver
  user: ${DB_CWSRS_USER}
  password: ${DB_CWSRS_PASSWORD}
  url: ${DB_CWSRS_JDBC_URL}
  validationQuery: "/* RS DB2 Health Check */ SELECT 1 FROM SYSIBM.SYSDUMMY1 FOR READ ONLY WITH UR"
  logValidationErrors: true
  initialSize: ${DB_CWSRS_CP_INITIAL_SIZE:-2}
  minSize: ${DB_CWSRS_CP_MIN_SIZE:-2}
  maxSize: ${DB_CWSRS_CP_MAX_SIZE:-8}
  minIdleTime: 1 minute
  properties:
      hibernate.dialect: org.hibernate.dialect.DB2Dialect
      hibernate.jdbc.time_zone: America/Los_Angeles
      hibernate.show_sql: false
      hibernate.format_sql: true
      hibernate.use_sql_comments: false
      hibernate.default_schema: ${DB_CWSRS_SCHEMA}
      hibernate.connection.autocommit: false
      hibernate.connection.isolation: 1

xaCmsDataSourceFactory:
  autoCommitByDefault: false
  driverClass: com.ibm.db2.jcc.DB2Driver
  user: ${DB_CMS_USER}
  password: ${DB_CMS_PASSWORD}
  url: ${DB_CMS_JDBC_URL}
  xaDataSourceClassName: com.ibm.db2.jcc.DB2XADataSource
  validationQuery: "/* XA/CMS Health Check */ SELECT 1 FROM SYSIBM.SYSDUMMY1 FOR READ ONLY WITH UR"
  logValidationErrors: true
  initialSize: 2
  minSize: 2
  maxSize: ${DB_CMS_CP_MAX_SIZE:-8}
  minIdleTime: 1 minute
  properties:
      hibernate.dialect: org.hibernate.dialect.DB2Dialect
      hibernate.show_sql: false
      hibernate.default_schema: ${DB_CMS_SCHEMA}
      hibernate.connection.autocommit: false
      hibernate.current_session_context_class: jta
      hibernate.transaction.jta.platform: com.atomikos.icatch.jta.hibernate4.AtomikosPlatform
      hibernate.transaction.factory_class: org.hibernate.resource.transaction.backend.jta.internal.JtaTransactionCoordinatorBuilderImpl
      hibernate.connection.release_mode: auto
      connection.release_mode: auto
      # hibernate.connection.provider_disables_autocommit: true
  xaProperties:
      # Properties for DB2XADataSource
      serverName: ${DB_CMS_HOST:-localhost}
      portNumber: ${DB_CMS_PORT:-50000}
      databaseName: ${DB_CMS_SERVICE:-DB0TDEV}
      driverType: 4 # Type4 connection for DB2 DataSource

xaNsDataSourceFactory:
  driverClass: org.postgresql.Driver
  user: ${DB_NS_USER}
  password: ${DB_NS_PASSWORD}
  url: ${DB_NS_JDBC_URL}
  xaDataSourceClassName: org.postgresql.xa.PGXADataSource
  validationQuery: "/* XA/NS Health Check */ SELECT 1 FOR READ ONLY"
  logValidationErrors: true
  initialSize: 2
  minSize: 2
  maxSize: ${DB_NS_CP_MAX_SIZE:-8}
  minIdleTime: 1 minute
  properties:
      hibernate.dialect: gov.ca.cwds.data.persistence.hibernate.dialect.JsonPostgreSQLDialect
      hibernate.id.new_generator_mappings: false
      hibernate.show_sql: false
      hibernate.default_schema: ${DB_NS_SCHEMA:-intakens}
      hibernate.connection.autocommit: false
      hibernate.current_session_context_class: jta
      hibernate.transaction.jta.platform: com.atomikos.icatch.jta.hibernate4.AtomikosPlatform
      hibernate.transaction.factory_class: org.hibernate.resource.transaction.backend.jta.internal.JtaTransactionCoordinatorBuilderImpl
      hibernate.connection.release_mode: auto
      connection.release_mode: auto
      hibernate.temp.use_jdbc_metadata_defaults: false
      # hibernate.cache.use_second_level_cache: false
      # hibernate.cache.region.factory_class: org.hibernate.cache.ehcache.EhCacheRegionFactory
      # hibernate.cache.use_query_cache: false
      # hibernate.connection.provider_disables_autocommit: true
  xaProperties:
      url: ${DB_NS_JDBC_URL}

elasticsearch:
  # Screenings index
  screeningsIndex:
    # The old "elasticsearch.host" and "elasticsearch.port" will still work but not required when "elasticsearch.nodes" is provided.
    elasticsearch.host: ${ES_HOST_SCREENINGS:-es.dev.cwds.tabordasolutions.net}
    elasticsearch.port: ${ES_PORT_SCREENINGS:-9300}
    elasticsearch.cluster: ${ES_CLUSTER_SCREENINGS:-taborda-dev-es}
    #Comma "," separated List of host:port pairs. Example: host1:port1,host2:port2
    elasticsearch.nodes: ${ES_NODES_SCREENINGS}
    elasticsearch.alias: ${ES_ALIAS_SCREENINGS:-screenings}
    elasticsearch.doctype: ${ES_DOCTYPE:-screening}
    elasticsearch.xpack.user: ${XPACK_USER_SCREENINGS:-}
    elasticsearch.xpack.password: ${XPACK_PASSWORD_SCREENINGS:-}

testConfig:
  path: ${TEST_FILE_PATH:-config/testConfig.yml}
    
triggertables:
  laCountySpecificCode: 19
 
webSecurity:
  httpResponseSecurityHeaders:
    # Prevent MIMI sniffing
    X-Content-Type-Options: nosniff
    
    # Prevent click-jacking
    X-Frame-Options: deny
    
    # Prevent cross site scripting
    X-XSS-Protection: 1; mode=block
    
    # Prevent everything other than same origin
    Content-Security-Policy: default-src 'self' 'unsafe-inline';
     
server:
  applicationConnectors:
  - type: http 
    port: ${APP_STD_PORT:-8080}
  adminConnectors:
  - type: http
    port: ${APP_ADMIN_PORT:-8081}
    
  requestLog:
    appenders:
      - type: console

logging:
  level: ${LOGLEVEL:-WARN}
  loggers:
    "org.hibernate.SQL":
      # Use DEBUG to see SQL logged
      level: DEBUG
    "org.hibernate.type.descriptor.sql":
      # Use TRACE to see SQL parameters logged
      level: TRACE
    "gov.ca.cwds.data.ApiHibernateInterceptor":
      # Use DEBUG or TRACE to see entities logged
      level: DEBUG
    "io.dropwizard.server":
      level: INFO
    "io.dropwizard.jersey.DropwizardResourceConfig":
      level: INFO
    "AUDIT":
      level: ALL
  appenders:
    - type: console
      threshold: ALL
      timeZone: UTC
      target: stdout
      logFormat: '[%X{REMOTE_ADDRESS}] [%date{ISO8601}] [%level] [%thread] [%X{UNIQUE_ID}] [%logger] [%X{USER_ID}] [%X{REQUEST_START_TIME}]: [%message]%n'
 